<div layout="row"
     layout-fill
     layout-align="center center"
     style="margin-top:40px;">
    <div layout="row" layout-align="center center" flex="90">
        <div flex style="cursor:pointer;outline:none;" ui-sref="sampleSection({sectionName: 'auto'})">
            <md-card md-whiteframe="5" style="height:400px;margin:15px;">
                <md-card-header>
                    <md-card-avatar>
                        <img src="assets/img/male.png" alt="Logo"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">Joshua Allen</span>
                        <span class="md-subhead">35 seconds ago</span>
                    </md-card-header-text>
                </md-card-header>
                <img ng-src="assets/img/material-design.jpg" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Auto Animations</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>

        <div flex style="cursor:pointer;outline:none;" ui-sref="sampleSection({sectionName: 'entrance'})">
            <md-card md-whiteframe="5" style="height:400px;margin:15px;">
                <md-card-header>
                    <md-card-avatar>
                        <img src="assets/img/male2.png" alt="Logo"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">John Doe</span>
                        <span class="md-subhead">35 seconds ago</span>
                    </md-card-header-text>
                </md-card-header>
                <img ng-src="assets/img/material-design.jpg" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Entrance & Exit Animations</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>

        <div flex style="cursor:pointer;outline:none;"  ui-sref="sampleSection({sectionName: 'static'})">
            <md-card md-whiteframe="5" style="height:400px;margin:15px;">
                <md-card-header>
                    <md-card-avatar>
                        <img src="assets/img/female.png" alt="Logo"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">Julia Ann</span>
                        <span class="md-subhead">5 minutes ago</span>
                    </md-card-header-text>
                </md-card-header>
                <img ng-src="assets/img/material-design.jpg" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Static Animations (Attention Seekers)</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </div>
</div>